@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #84c68c;
}

header {
  padding: 0.2em;
  text-align: center;
  color: #84c68c;
  background-color: #10631a;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

.add-new-container {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

.add-new,
.add-book-button {
  display: inline-block;
  cursor: pointer;
  padding: 1em 1.2em;
  margin: 0.1em 0.1em 1.1em 0.1em;
  border: 0.3em solid rgba(255, 255, 255, 0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  color: #84c68c;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #10631a;
}

.add-new:hover {
  background-color: #004208;
  color: #84c68c;
}

.books-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #84c68c;
  flex-wrap: wrap;
}

.book {
  flex-basis: 25%;
  margin: 3em;
  width: 60%;
  height: 100%;
  max-height: 300px;
  padding: 10px;
  text-align: center;
  background: #10631a;
  border: 0.3em solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 25px 25px 50px #004208;
}

.book-header {
  text-transform: uppercase;
  margin: 20px auto;
}

.book-buttons-container {
  display: flex;
  flex-direction: column;
}

.book-button {
  padding: 0.6em;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.mark {
  margin: 1em 0em 2em 0em;
  border: 0.3em solid #7d7a13;
  background: #fcfaa5;
  color: #aaa739;
}

.mark:hover {
  background: #7d7a13;
  color: #fcfaa5;
}

.delete {
  border: 0.3em solid #7d1313;
  background: #ffcccc;
  color: #aa3939;
}

.delete:hover {
  background: #7d1313;
  color: #ffcccc;
}

.add-new-form {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  margin: auto;
  width: 30%;
  background-color: #0e5a2a;
  border: 2px solid #84c68c;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #84c68c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-input {
  background-color: #0e5a2a;
  color: #84c68c;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
}

label {
  font-size: 1.2em;
}

#checkbox {
  background-color: brown;
}

.overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
